$sizes: (
  mobile: 450px - 2px,
  tablet: 768px - 2px,
  tablet-land: 1024px - 2px,
  desktop-sm: 1280px - 2px,
  desktop-md: 1440px - 2px,
  desktop: 1600px
);

$with-screen: true;
$without-screen: false;
